:root {
  --black: #18161f;
  --gray: #787490;
  --white-ice: #d6d4e2;
  --whute: #ffffff;
  --blue-marine-: #00d9c0
}

html, body{
  background-color: #18161f;
  font-family: 'Space Grotesk', sans-serif;
  transition: all 0.5s ease-out;
  
  color: var( --white-ice);
}

a{
  color: var( --white-ice);
  text-decoration: none;
}
a:hover{
  color: var( --blue-marine-);
  text-decoration: underline;
}
h1{
  padding: 20px;
}

.div-style{
  padding: 10px;
  background: #26242bb4;
}

