:root {
  --black: #18161f;
  --gray: #787490;
  --white-ice: #d6d4e2;
  --whute: #ffffff;
  --blue-marine-: #00d9c0
}

html, body{
  background-color: #18161f;
  font-family: 'Space Grotesk', sans-serif;
  transition: all 0.5s ease-out;
  width: 100%;
  height: 100vh;
  color: var( --white-ice);

  cursor: default;
}

a{
  color: var( --white-ice);
  text-decoration: none;
}
a:hover{
  color: var( --blue-marine-);
  text-decoration: underline;
}
.container {
  background-image: url(/assents/blur.png);
  background-size: cover;
  background-position: center bottom;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 10px 0;
}

.title{
  font-weight: bold;
  font-size: 32px;
  padding: 30px;
  margin-bottom: 40px;

  text-decoration: underline;
}


.title-2{
  font-weight: 400;
  font-size: 25px;
  padding: 30px;
  text-decoration: none;
}
.categoria{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.grid-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  margin-bottom: 50px;
}

.img-icon{
  display: flex;
  align-items: center;
  border: solid 1px var(--gray);
  border-radius: 35px;
  margin: 4px;
  padding: 10px;
}
.img-icon:hover{
  border-color: var(--blue-marine-);

  transition: all 0.7s ;
}
.img-icon img{
  width: 100px;
}


.mensagem-sucesso{
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--blue-marine-)
}

.container-categorias{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}